<!DOCTYPE html>
<html>
<head>
  <title>Multiple Waypoints</title>
  <script src='https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise'></script>
  <script src='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js'></script>
  <link rel='stylesheet' href='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css'/>
  <style>
    #container {
  	display: flex;
   }

   #left-column, #right-column {
       flex: 1;
   }

   #draw-waypoints-button {
      margin-top: 10px;
   }
    #map {
      width: 100%;
      height: 900px;
    }
  </style>
</head>
<body>
<div id="container">
  <div id="left-column">
    <textarea id="json-input" rows="60" cols="50">[
      {
          "waypoints": [
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              },
              {
                  "longitude": 106.6798134,
                  "latitude": -6.2118778
              },
              {
                  "longitude": 106.634529,
                  "latitude": -6.190571
              },
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              }
          ]
      },
      {
          "waypoints": [
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              },
              {
                  "longitude": 106.783529,
                  "latitude": -6.244179
              },
              {
                  "longitude": 106.731514,
                  "latitude": -6.276546
              },
              {
                  "longitude": 106.858623,
                  "latitude": -6.21038
              },
              {
                  "longitude": 106.789617,
                  "latitude": -6.176495
              },
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              }
          ]
      },
      {
          "waypoints": [
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              },
              {
                  "longitude": 106.781693,
                  "latitude": -6.266588
              },
              {
                  "longitude": 106.783549,
                  "latitude": -6.19977
              },
              {
                  "longitude": 106.870725,
                  "latitude": -6.33033
              },
              {
                  "longitude": 106.783718,
                  "latitude": -6.244204
              },
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              }
          ]
      },
      {
          "waypoints": [
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              },
              {
                  "longitude": 106.755641,
                  "latitude": -6.138218
              },
              {
                  "longitude": 106.747555,
                  "latitude": -6.091952
              },
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              }
          ]
      },
      {
          "waypoints": [
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              },
              {
                  "longitude": 106.698674,
                  "latitude": -6.194309
              },
              {
                  "longitude": 106.726408,
                  "latitude": -6.134725
              },
              {
                  "longitude": 106.736148,
                  "latitude": -6.186608
              },
              {
                  "longitude": 106.710375,
                  "latitude": -6.124574
              },
              {
                  "longitude": 106.82559983687916,
                  "latitude": -6.246147633124191
              }
          ]
      }
  ]</textarea><br/>
    <button id="draw-waypoints-button" onclick="drawWaypoints()">Draw Waypoints</button>
  </div>
  <div>
    <div id="map"></div>
  </div>
</div>

  <script>
  function drawWaypoints() {
    var jsonInput = document.getElementById("json-input").value;
    waypoints = JSON.parse(jsonInput);
       var waypointFeatures = [];
    var lineStringFeatures = [];
    for(var j = 0; j < waypoints.length; j++) {
        var waypointGroup = waypoints[j];
        var lineStringCoordinates = [];
        for (var i = 0; i < waypointGroup.waypoints.length; i++) {
        var waypoint = waypointGroup.waypoints[i];
        lineStringCoordinates.push(ol.proj.fromLonLat([waypoint.longitude, waypoint.latitude]));
        var waypointFeature
        if (i!=waypointGroup.waypoints.length-1){
    waypointFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([waypoint.longitude, waypoint.latitude])),
        name: `Point ${i}`
    });
    
    } else {
    waypointFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([waypoint.longitude, waypoint.latitude]))
    });
    }
    waypointFeatures.push(waypointFeature);
    // create arrow feature for waypoint
    /*var arrowCoords = ol.proj.fromLonLat([waypoint.longitude, waypoint.latitude]);
    var lineString = new ol.geom.LineString(lineStringCoordinates);
    var middlePoint = lineString.getCoordinateAt(0.5);
    var angle = getLineAngle(lineString, arrowCoords);
    var arrowFeature = new ol.Feature({
        geometry: new ol.geom.Point(middlePoint)
    });
    arrowFeature.setStyle(new ol.style.Style({
        image: new ol.style.RegularShape({
            fill: new ol.style.Fill({color: 'black'}),
            stroke: new ol.style.Stroke({color: 'black', width: 2}),
            points: 3,
            radius: 10,
            rotation: angle
        })
    }));
    waypointFeatures.push(arrowFeature);
    */
    
}
/*var lineString = new ol.geom.LineString(lineStringCoordinates);
    var lineStringFeature = new ol.Feature({
      geometry: lineString
    });
*/    
var lineStringFeature = new ol.Feature({
    geometry: new ol.geom.LineString(lineStringCoordinates)
});
lineStringFeatures.push(lineStringFeature);
    


var vectorSource = new ol.source.Vector({
    features: waypointFeatures.concat(lineStringFeatures)
});

var vectorLayer = new ol.layer.Vector({
    source: vectorSource,
    style: function(feature) {
        var styles = [
          new ol.style.Style({
            stroke: new ol.style.Stroke({
              color: getRandomColor(),
              width: 4
            }),
            image: new ol.style.Circle({
              radius: 7,
              fill: new ol.style.Fill({
                color: 'black'
            	})
            }),
          })
        ];
        if(feature.get('name')){
          styles.push(new ol.style.Style({
                text: new ol.style.Text({
                  text: feature.get('name'),
                  fill: new ol.style.Fill({
                    color: 'blue'
                  }),
                  stroke: new ol.style.Stroke({
                    color: 'white',
                    width: 2
                  }),
                  offsetY: -15
                })
              }))
        }
        return styles;
      }
});

map.addLayer(vectorLayer);
}
}

    /*var waypoints = [{
      "waypoints" : [
            {
              "longitude": 106.755641,
              "latitude": -6.138218
            },
            {
              "longitude": 106.747555,
              "latitude": -6.091952
            },
            {
                        "longitude": 106.726408,
                        "latitude": -6.134725
                    },
            {
              "longitude": 106.710375,
              "latitude": -6.124574
            },
            {
              "longitude": 106.755641,
              "latitude": -6.138218
            }
          ]
          },
          {
          "waypoints" :[
          {
                        "longitude": 106.6798134,
                        "latitude": -6.2118778
                    },
          	{
                        "longitude": 106.634529,
                        "latitude": -6.190571
                    },
                    {
                        "longitude": 106.698674,
                        "latitude": -6.194309
                    },
                    {
                        "longitude": 106.736148,
                        "latitude": -6.186608
                    },
                    {
                        "longitude": 106.6798134,
                        "latitude": -6.2118778
                    }
          ]
          } 
    ];
*/
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([106.710375, -6.124574]),
        zoom: 12
      })
    });

    map.on('click', function(event) {
  var clickCoord = map.getEventCoordinate(event.originalEvent);
  var latLong = ol.proj.transform(clickCoord, 'EPSG:3857', 'EPSG:4326');

  var markerFeature = new ol.Feature({
    geometry: new ol.geom.Point(clickCoord),
    name: 'Lat: ' + latLong[1] + ' Long: ' + latLong[0]
  });
  var markerStyle = new ol.style.Style({
    image: new ol.style.Circle({
      radius: 8,
      fill: new ol.style.Fill({color: 'red'}),
      stroke: new ol.style.Stroke({color: 'white', width: 2})
    }),
    text: new ol.style.Text({
      text: markerFeature.get('name'),
      fill: new ol.style.Fill({color: 'white'}),
      stroke: new ol.style.Stroke({color: 'green', width: 2}),
      offsetX: 10,
      offsetY: -10
    })
  });



var markerSource = new ol.source.Vector({
features: [markerFeature]
});
var markerLayer = new ol.layer.Vector({
source: markerSource,
style: markerStyle
});
map.addLayer(markerLayer);


  alert('Latitude: ' + latLong[1] + ' Longitude: ' + latLong[0]);
});

    
    function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

    
    function getLineAngle(lineString, point) {
      var point1 = lineString.getFirstCoordinate();
      var point2 = lineString.getLastCoordinate();
      var dx = point2[0] - point1[0];
      var dy = point2[1] - point1[1];
      return Math.atan2(dy, dx);
    }
    
 

</script>
</body>
</html>

  
          
          
